@model MovieResponse

@{
    ViewData["Title"] = Model.Title;
    string imageUrlBase = "https://image.tmdb.org/t/p/w500";
}

<div class="container mt-5">
    <h1>@Model.Title</h1>
    <div class="row">
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.PosterPath))
            {
                <img src="@($"{imageUrlBase}{Model.PosterPath}")" alt="@Model.Title" class="img-fluid" />
            }
            else
            {
                <span>Sem pôster disponível</span>
            }
        </div>

        <div class="col-md-8">
            <h3>Detalhes do Filme</h3>
            <p><strong>Sinopse:</strong> @Model.Overview</p>
            <p><strong>Status:</strong> @Model.Status</p>
            <p><strong>Idioma Original:</strong> @Model.OriginalLanguage</p>
            <p><strong>Data de Lançamento:</strong>
                @if (DateTime.TryParse(Model.ReleaseDate, out DateTime releaseDate))
                {
                    @releaseDate.ToString("dd/MM/yyyy")
                }
                else
                {
                    <span>Data inválida</span>
                }
            </p>
            <p><strong>Popularidade:</strong> @Model.Popularity</p>
            <p><strong>Avaliação:</strong> @Model.VoteAverage / 10 (@Model.VoteCount votos)</p>
            <p><strong>Tagline:</strong> @Model.Tagline</p>
            
            @if (!string.IsNullOrEmpty(Model.Homepage))
            {
                <p><a href="@Model.Homepage" target="_blank" >Visite o site do filme</a></p>
            }
            <form action="/Movies/AddToList" method="post">
                <input type="hidden" id="movieId" name="movieId" value="@Model.Id" />
                <input type="hidden" id="priority" name="priority" value="5" />

                <div>
                    <label for="prioritySlider">Prioridade: </label>
                    <input type="range" id="prioritySlider" name="prioritySlider" min="1" max="10" value="5">
                    <span id="sliderValue">5</span> <!-- Exibe o valor atual do slider -->
                </div>

                <button type="submit" class="btn btn-primary">Adicionar à Lista</button>
            </form>
        </div>
    </div>
</div>
<script>
    const slider = document.getElementById("prioritySlider");
    const sliderValue = document.getElementById("sliderValue");
    const priorityInput = document.getElementById("priority");

    slider.oninput = function() {
        sliderValue.textContent = this.value;
        priorityInput.value = this.value;
    }
</script>