@model List<FavoriteMovie>

@{
    ViewData["Title"] = "Meus filmes";
    string imageUrlBase = "https://image.tmdb.org/t/p/w200";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Título</th>
                    <th class="d-none d-md-table-cell">Adicionado em</th>
                    <th class="d-none d-md-table-cell">Duração</th>
                    <th>Prioridade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mov in Model)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(mov.PosterPath))
                            {
                                <img src="@($"{imageUrlBase}{mov.PosterPath}")" alt="@mov.Title" style="width: 80px; height: auto;" />
                            }
                            else
                            {
                                <span>Sem imagem</span>
                            }
                        </td>
                        <td>@mov.Title</td>
                        <td class="d-none d-md-table-cell">@mov.AddedAt.ToString("dd/MM/yyyy")</td>
                        @{
                            int runtimeInMinutes = mov?.Runtime ?? 0;
                            int hours = runtimeInMinutes / 60;
                            int minutes = runtimeInMinutes % 60;
                        }
                        <td class="d-none d-md-table-cell">@($"{hours}h{minutes}m")</td>
                        <td>@mov?.Priority</td>
                        <td>
                            <div class="d-grid gap-2">
                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-movie-id="@mov.Id">
                                    Remover
                                </button>
                                <a href="@Url.Action("DetailFullMovie", new { movieId = mov.TmdbId })" class="btn btn-warning">
                                    Detalhes
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p>Lista vazia.</p>
}


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Você tem certeza que deseja excluir este filme da sua lista?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post" action="@Url.Action("Delete", "Movies")">
                    <input type="hidden" id="movieId" name="movieId" value="" />
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var deleteModal = document.getElementById('deleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var movieId = button.getAttribute('data-movie-id');
        var movieIdInput = document.getElementById('movieId');
        movieIdInput.value = movieId;
    });
</script>