@model MoviePagedResponse

@{
    ViewData["Title"] = "Lista de filmes";
    string imageUrlBase = "https://image.tmdb.org/t/p/w200";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>


@if (Model != null && Model.Results.Count() > 0)
{
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Título</th>
            <th>Sinopse</th>
            <th>Data de lançamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mov in Model.Results)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(mov.PosterPath))
                        {
                            <img src="@($"{imageUrlBase}{mov.PosterPath}")" alt="@mov.Title" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span>Sem imagem</span>
                        }
                    </td>
                    <td>@mov.Title</td>
                    <td>@mov.Overview</td>
                    <td>
                        @if (DateTime.TryParse(mov.ReleaseDate, out DateTime releaseDate))
                        {
                            @releaseDate.ToString("dd/MM/yyyy")
                        }
                        else
                        {
                            <span>Data inválida</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-center">
    @if (Model.Page > 1)
        {
            <a href="@Url.Action("Index", new { page = Model.Page - 1 })" class="btn btn-primary">Página Anterior</a>
        }

        @if (Model.Page < Model.TotalPages)
        {
            <a href="@Url.Action("Index", new { page = Model.Page + 1 })" class="btn btn-primary">Próxima Página</a>
        }
    </div>
}
else
{
    <p>Lista vazia.</p>
}